@{
    Layout="MasterPageUsuario";
    ViewBag.Titulo = "Cadastro";
     <link href="/Css/Comentario.css" rel="stylesheet">
}




<form action="/Comentario/Cadastro" method="POST">

        <div class="box">
            <h2>Deixe seu Comentario</h2>
            <br>
            <br>
            <form action="/Comentario/Cadastro" method="POST">
                 <div class="inputBox">
                    <textarea placeholder="The Subject" name="comentarioPost" cols="40" rows="7"></textarea> 
                </div>
                <br>
                <input type="submit" name="" value="Submit">
            </form>
            <br>
            <br>
            <h2 style="color:white">   @ViewBag.Mensagem   </h2>
            <br>
            <div style=" display: flex;
                        justify-content: space-around;">
            <a style="color: Lightblue; font-weight: 400;" href="/Comentario/Listar">Lista de Comentarios</a>
            <a style="color: Lightblue; font-weight: 400;" href="/Usuario/Login">Sair</a>

            </div>
        </div>
</html>