@using BackFront.Senai.MVC.Models;
@{
    Layout= "MasterPageUsuario";
     <link href="../css/ComentarioAdm.css" rel="stylesheet">
}
<h3>Pagina do Administrador</h3>
<br>
<br>
@TempData["Mensagem"]

<table>
    <thead>
        <tr style="text-align: left">
            <th width="200">Nome</th>
            <th width="200">Comentario</th>
            <th width="200">Data</th>
        </tr>
    </thead>
    <tbody style="text-align: left">
        @foreach (ComentarioModel item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
                <td width="200">
                    @item.Nome
                </td>
                <td width="200">
                    @item.ComentarioPost
                </td>
                <td width="200">
                    @item.DataPost
                </td>
                <td>
                    @if(item.Status == true ){
                        <a href="/Comentario/RecusarComentario?id=@item.Id">Recusar</a>
                        <a href="/Comentario/DeletarComentario?id=@item.Id">Deletar</a>
                    } else {
                        <a href="/Comentario/AprovarComentario?id=@item.Id">Aprovar</a>
                        <a href="/Comentario/DeletarComentario?id=@item.Id">Deletar</a>
                    } 
                    <a href="Usario/Login">Sair</a>
                </td>
            </tr>
        }
    </tbody>
</table>