@using BackFront.Senai.MVC.Models;
@using Microsoft.AspNetCore.Http;

@{
    Layout= "MasterPageUsuario";
     <link href="/css/Listar.css" rel="stylesheet">
}
<h3>Lista de Comentario em avaliação</h3>

@TempData["Mensagem"]

<table>
    <thead>
        <tr style="text-align: lesft">
            <td width="200">Nome</td>
            <td width="200">Data do Post</td>
            <td width="200">Post</td>
        </tr>
    </thead>
    <tbody>
        @foreach(ComentarioModel comentario in ViewData["comentario"] as List<ComentarioModel>)
        {
            <tr>
                <td width="200">
                    @comentario.Nome
                </td>
                <td width="200">
                    @comentario.DataPost
                </td>
                <td width="200">
                    @comentario.ComentarioPost
                </td>
                 <td>
                     @if (Context.Session.GetString("nomeUsuario") == "Admin" )
                     {                        
                        @if(comentario.Status == true){
                            <a href="/Comentario/RecusarComentario?id=@comentario.Id">Recusar</a>
                        }
                        else
                        {
                            <a href="/Comentario/AprovarComentario?id=@comentario.Id">Aprovar</a>
                        }
                     }
                     <a href="../Usuario/Login">Sair</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

